terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/lambda.zip
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info
--policy-arn
--user-name
